<footer role="contentinfo" class='post-footer'>
  <div class="inner">
    <div id="disqus_thread"></div>
  </div><br /><br />

  <div class="inner">
    <div class="vcard">
      <a href="{{ site.baseurl }}/feed.xml" id="btn_feed" class="btn" title="Feed" target="_blank">
        <i class="fa fa-rss fa-lg" aria-hidden="true"></i>
        <strong>Feed</strong>
      </a>
      <div class="photo circle">
        <a href="https://akasha.world/">
          <svg id="footerLogo">
            <use xlink:href="#logo" />
          </svg>
        </a>
      </div>
      <div class="details">
        <h4><a href="{{ site.url }}" class="url n">{{ site.title }}</a></h4>
        <span>Thoughts and project updates</span>
      </div>
    </div>
    <div id="user_bio">
      <div class="inner">
        <span>Join AKASHA on</span>
      </div>
      <span class="links">
        <a href="https://akasha-slack.herokuapp.com" target="_blank">
          <i class="fa fa-lg fa-slack" aria-hidden="true"></i>
        </a>&nbsp;
        <a href="https://www.facebook.com/AkashaProject" target="_blank">
          <i class="fa fa-lg fa-facebook" aria-hidden="true"></i>
        </a>&nbsp;
        <a href="https://twitter.com/AkashaProject" target="_blank">
          <i class="fa fa-lg fa-twitter" aria-hidden="true"></i>
        </a>&nbsp;
        <a href="https://plus.google.com/117838843007595749679" target="_blank">
          <i class="fa fa-lg fa-google-plus" aria-hidden="true"></i>
        </a>&nbsp;
        <a href="https://www.reddit.com/r/AkashaProject" target="_blank">
          <i class="fa fa-lg fa-reddit-alien" aria-hidden="true"></i>
        </a>
      </span>
    </div>
  </div>
</footer>
