<nav id="nav" role="navigation">
  <a href="http://akasha.world/">
    <svg id="header-logo">
      <use xlink:href="#logo" />
    </svg>
    <span id="header-text">AKASHA</span>
  </a>
  <ul>
    <li><a href="http://akasha.world/#joinAlpha">JOIN ALPHA</a></li>
    <li><a href="http://akasha.world/#about">ABOUT</a></li>
    <li><a href="http://akasha.world/#team">TEAM</a></li>
    <li><a href="#" style="color:#0290DA">NEWS</a></li>
    <li><a href="http://akasha.world/#faq">FAQ</a></li>
    <li><a href="http://akasha.world/#roadmap">TIMELINE</a></li>
    <li><a href="http://akasha.world/#contact">CONTACT</a></li>
  </ul>
  <a href="#" id="menu-link">
    <i class="fa fa-bars fa-lg" aria-hidden="true"></i>
  </a>
</nav>

<header role="banner">
  <div class="wrap">
    <br />
    <h1>Latest Entries</h1>
  </div>
</header>

<script>
$(document).ready(function(){
  $menulink = $('#menu-link');
  $menulink.click(function(){
    $('#nav').toggleClass('active');
    $menulink.toggleClass('active');
    if ($menulink.hasClass('active')) {
      $menulink.find('i').removeClass('fa-bars').addClass('fa-close');
    } else {
      $menulink.find('i').removeClass('fa-close').addClass('fa-bars');
    }
    return false;
  });
});
</script>
