<nav id="headerStyle">
  <svg id="headerLogo">
    <use xlink:href="#logo" />
  </svg>
  <span style="position:relative;left:35px;">AKASHA</span>
  <div id="navList">
    <a href="http://akasha.world/#joinAlpha">JOIN ALPHA</a>
    <a href="http://akasha.world/#roadmap">ROADMAP</a>
    <a href="http://akasha.world/#faq">FAQ</a>
    <a href="http://akasha.world/#team">TEAM</a>
    <a href="#" style="color:#0290DA">NEWS</a>
    <a href="http://akasha.world/#contact">CONTACT</a>
  </div>
</nav>
<div id="headerBg"></div>
<header role="banner">
  <div class="wrap">
    <br />
    <h1><a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
  </div>
</header>
