---
layout: default
body_class: post-template
---
{% if page.image %}
<div id="feature_image">
  <div class="inner" style="background-image: url('{{ site.baseurl }}/content/images/{{ page.image }}')">
    <img src='{{ site.baseurl }}/content/images/{{ page.image }}'>
  </div>
</div>
{% endif %}

<article role="main" class="{% if page.image %}image{% endif %}">
  <header>
    <a href="{{ site.baseurl }}/" id="home_link"><i class="fa fa-home fa-lg" aria-hidden="true"></i></a>
    <div class="meta"><time datetime="{{ page.date | date:'%Y-%m-%d' }}"><a href="{{ page.url }}">{{ page.date | date: "%B %d, %Y" }}</a></time>
      <span class="count" id="js-reading-time">&nbsp;</span>
    </div>
    <h1>{{ page.title }}</h1>
  </header>

  <div class="text" id="js-post-content">
    {{ content }}
  </div>

  <div id="share-links">
    <div class="share-link" style="width:90px;padding-top:7px;">
      <span>Share this</span>
    </div>
    <div class="share-link">
      <a href="https://www.facebook.com/sharer/sharer.php?s=100&amp;u={{ page.url | prepend:site.baseurl | prepend:site.url }}"
        onclick="javascript:window.open(this.href,'','menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=620,width=600');return false;">
        <i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i>
      </a>
    </div>
    <div class="share-link">
      <a href="https://twitter.com/intent/tweet?url={{ page.url | prepend:site.baseurl | prepend:site.url }}"
        onclick="javascript:window.open(this.href,'','menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=260,width=600');return false;">
        <i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i>
      </a>
    </div>
    <div class="share-link">
      <a href="https://plus.google.com/share?title={{ page.title }}&amp;url={{ page.url | prepend:site.baseurl | prepend:site.url }}"
        onclick="javascript:window.open(this.href,'','menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=620,width=560');return false;">
        <i class="fa fa-google-plus-square fa-2x" aria-hidden="true"></i>
      </a>
    </div>
    <div class="share-link">
      <a href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{ page.url | prepend:site.baseurl | prepend:site.url }}&amp;title={{ page.title }}&amp;summary={{ page.excerpt | strip_html | strip_newlines }}"
      onclick="javascript:window.open(this.href,'','menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=560,width=600');return false;">
        <i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i>
      </a>
    </div>
  </div>
</article>

{% include footer.html %}

<script>
var disqus_config = function(){
  this.page.url = "{{ page.url | prepend: site.baseurl | prepend: site.url }}";
  this.page.identifier = "{{ page.id }}";
  this.page.title = "{{ page.title }}";
};
(function(){
  var d = document, s = d.createElement('script');
  s.src = 'https://akashaproject.disqus.com/embed.js';
  s.setAttribute('data-timestamp', +new Date());
  (d.head || d.body).appendChild(s);
})();

function get_text(elem){
  ret = "";
  var length = elem.childNodes.length;
  for(var i = 0; i < length; i++) {
    var node = elem.childNodes[i];
    if(node.nodeType != 8) {
      ret += node.nodeType != 1 ? node.nodeValue : get_text(node);
    }
  }
  return ret;
}
function reading_time(){
  var post_content = document.getElementById('js-post-content');
  if (post_content) {
    var words = get_text(post_content),
      count = words.split(/\s+/).length,
    read_time = Math.ceil((count / 150)),
      read_time_node = document.createTextNode(read_time + ' min read');
    document.getElementById('js-reading-time').appendChild(read_time_node);
  }
}
document.onreadystatechange = function(){
  if (document.readyState == "complete"){
    reading_time();
  }
}
</script>
